*{
    padding: 0;
    margin: 0;
}
body{
    width: 60%;
    padding: 50px;
    background-color: rgba(153, 199, 235,.6);
    font-size: 16px;
    font-family: sans-serif;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "grille1 grille1"
                         "grille2 grille3";
}

.grille-1{
    width: 100%;
    padding: 40px;
    background-color: white;
    border-radius: 5px 5px 0 0;
    grid-area: grille1;
    
}
.grille-1 h1{
    margin-bottom: 20px;
    color: #06668c;
}

.grille-2,.grille-3{
    padding: 40px 40px 20px;
    color: white;
    width: 100%;
}

.grille-2{
    background-color: rgb(48, 109, 111);
    grid-area: grille2;
    border-radius: 0 0 0 5px;
}
.grille-2 h3,.grille-3 h3{
    margin-bottom: 30px;
}

.grille-2 .flex{
    margin-bottom: 20px;
}
.grille-2 .prix,.grille-2 .month{
    display: inline-block;
}
.grille-2 .prix{
    margin-right: 20px;
    font-size: 25px;
    font-weight:700;
}
.grille-2 .month{
    color: rgba(255, 255, 255,.5);
}
.grille-2 a.button{
    display: inline-block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    margin-top: 50px;
    width:220px;
    background: rgb(132, 214, 70);
    text-align: center;
    border-radius: 3px;
}

.grille-3{
    background-color: rgb(32, 159, 163);
    grid-area: grille3;
    border-radius: 0 0 5px 0;
    
}
.grille-3 ul{
    line-height: 30px;
}

.grille-3 ul li{
    list-style: none;
}

@media screen and (max-width:916px) {
    *{
        box-sizing: border-box;
    }
    body{
        width: 100%;
        padding: 20px;
        display: grid;
        grid-template-areas: "grille1"
                             "grille2"
                             "grille3";
    }

    .grille-1,.grille-2,.grille-3{
        width:100%;
    }
    .grille-2{
        border-radius: 0;
    }
    .grille-3{
        border-radius: 0 0 5px 5px;
    }
}






